 <mat-drawer-container class="navbar-container" autosize>
   <mat-drawer #drawer class="navbar-sidenav mat-elevation-z2" mode="side">
     <mat-nav-list>
       <a mat-list-item routerLink="">
         <i class="material-icons v-middle">
           home
         </i>
         Home
       </a>

       <a mat-list-item routerLink="/interesses">
         <i class="material-icons v-middle">
           saved_search
         </i>
         Interesses e Mais Sobre Mim
       </a>

       <a mat-list-item routerLink="/tempoLivre">
         <i class="material-icons v-middle">
           videogame_asset
         </i>
         Tempo Livre
       </a>


     </mat-nav-list>
   </mat-drawer>

   <div class="navbar-sidenav-content">
     <button mat-fab (click)="drawer.toggle()" aria-label="hide/show navBar">
       <mat-icon>menu</mat-icon>
     </button>
     <router-outlet></router-outlet>

   </div>
   <app-footer></app-footer>
 </mat-drawer-container>
