 <mat-card class="home mat-elevation-z3 ">


   <!-- ========== folder pic ========== -->
   <div class="content-img">
     <div class="img-background"></div>
   </div>
   <!-- ========== folder pic ========== -->

   <div class="about-me">
     <div class="profile-pic mat-elevation-z3">
       <img src="../../../assets/img/userPhoto.jpeg" alt="my-pic">
     </div>
     <div class="info-profile-pessoal">
       <mat-card-header>
         <mat-card-title>
           Guilherme Moda
         </mat-card-title>
         <mat-card-subtitle>Front End Developer at Grupo IV2</mat-card-subtitle>
       </mat-card-header>
     </div>
     <div class="user-info">
       <div>
         <span class="title-text">Age: </span>
         <span class="value">22</span>
         <span class="title-text">Location: </span>
         <span class="value">Jundiaí, BR - SP</span>
         <span class="title-text">Email: </span>
         <span class="value">guimoda81@gmail.com</span>
         <span class="title-text">Cellphone: </span>
         <span class="value">(11) 995438722</span>
       </div>
     </div>
     <div class="socialMedia">
       <a href="https://www.facebook.com/guilherme.mendonca.589100/" target="_blank"> <i class="material-icons">
           facebook
         </i> </a>
       <a href="https://www.linkedin.com/in/guilherme-moda-82a1b8168/" target="_blank"> <i
           class="fab fa-linkedin v-middle"></i></a>
       <a href="mailto:guimoda81@gmail.com" target="_blank"> <i class="material-icons ">email</i> </a>
       <a href="https://github.com/guiizis" target="_blank"> <i class="fab fa-github v-middle"></i> </a>
     </div>
   </div>

 </mat-card>
