<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Mais Sobre Mim e Interesses</mat-card-title>
    <mat-card-subtitle>Olá, me chamo Guilherme e tenho {{age}} anos de idade, moro atualmente em Jundiaí - SP, onde
      nasci e fui criado, sou desenvolvedor front end no grupo IV2 desde 12/2019. Fora do meu horário de trabalho
      durante a semana,
      gosto de dedicar meu tempo em estudar e fazer programas sem sentidos apenas por passa tempo. Abaixo algumas
      linguagens e frameworks que gosto de estudar<span class="material-icons v-middle"
        style="color: yellowgreen;">
        android
      </span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-tab-group>
      <!-- ========== frontend ==========  -->
      <mat-tab label="FrontEnd">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tecnologias do FrontEnd que Estudo
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item>
                <div>
                  <i>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank"> <img class="v-middle"
                        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
                        alt="javascript" width="40" height="40" /> </a>

                    JavaScript
                  </i>
                </div>
                <div>
                  <a>
                  </a>
                </div>

              </a>

              <a mat-list-item>
                <div>
                  <i>
                    <a href="https://angular.io/" target="_blank"> <img class="v-middle"
                        src="https://www.vectorlogo.zone/logos/angular/angular-icon.svg" alt="angular" width="40"
                        height="40" /> </a>
                    Angular
                  </i>
                </div>
                <div>
                  <a>
                  </a>
                </div>
              </a>

              <a mat-list-item>
                <div>
                  <i>
                    <a href="https://reactjs.org/" target="_blank"> <img class="v-middle"
                        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg"
                        alt="react" width="40" height="40" /></a>
                    React
                  </i>
                </div>
                <div>
                  <a>
                  </a>
                </div>
              </a>
              <a mat-list-item>
                <div>
                  <i>
                    <a href="https://www.w3schools.com/css/" target="_blank"> <img class="v-middle"
                        src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
                        alt="css3" width="40" height="40" /> </a>
                    CSS
                  </i>
                </div>
                <div>
                  <a>
                  </a>
                </div>
              </a>
              <a mat-list-item>
                <div>
                  <i>
                    <a href="https://learn.jquery.com/about-jquery/" target="_blank"> <img class="v-middle"
                      src="https://www.vectorlogo.zone/logos/jquery/jquery-vertical.svg"
                      alt="jquery" width="40" height="40" /> </a>
                    
                    Jquery
                  </i>
                </div>
                <div>
                  <a>
                  </a>
                </div>
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>

      <!-- ========== backend ==========  -->
      <mat-tab label="BackEnd">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Tecnologias do Backend que eu estudo
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item>
                <div>
                  <i>
                    <a href="https://nodejs.org" target="_blank"> 
                    <img class="v-middle"
                    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
                    alt="nodejs" width="60" height="60" /> </a>

                    Node js
                  </i>
                </div>
                <div>
                  <a>
                  </a>
                </div>

              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-tab>
      <!-- ========== banco de dados ==========  -->
      <mat-tab label="DataBase">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Banco de Dados que eu estudo
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a mat-list-item>
                <div>
                  <i>
                    <a href="https://www.mongodb.com/what-is-mongodb" target="_blank"> 
                    <img class="v-middle"
                    src="https://www.vectorlogo.zone/logos/mongodb/mongodb-ar21.svg"
                    alt="MongoDb" width="60" height="60" /> </a>

                    MongoDB
                  </i>
                </div>
                <div>
                  <a>
                  </a>
                </div>
              </a>
              <a mat-list-item>
                <div>
                  <i>
                    <a href="https://www.mysql.com/about/" target="_blank"> 
                    <img class="v-middle"
                    src="https://www.vectorlogo.zone/logos/mysql/mysql-ar21.svg"
                    alt="MySql" width="60" height="60" /> </a>

                      MySQL
                  </i>
                </div>
                <div>
                  <a>
                  </a>
                </div>
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>

</mat-card>